.WeatherInfo h1 {
  color: #f76b8a;
  margin: 20px 0 10px 0;
}
.WeatherInfo h5 {
  font-size: 11px;
}
.WeatherInfo section {
  margin: 20px 7px 7px 7px;
}
.WeatherInfo .degrees {
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: -10px;
}
.WeatherInfo .type-degrees {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top: -30px;
  text-decoration: none;
  color: #4e4d55;
}

.WeatherInfo .date-and-time {
  font-weight: 350;
  font-size: 20px;
}
.WeatherInfo .weather-icon {
  font-size: 100px;
  color: #f76b8a;
}

.WeatherInfo .weather {
  font-size: 20px;
}

.WeatherInfo .wind,
.WeatherInfo .humidity {
  font-size: 12px;
}
